@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.navigation {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #16253d;
  z-index: 1; /* otherwise content would overlap */
}

.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  width: 30%;
  height: 100px;
}

.menu-button {
  border: outset;
  border-radius: 40%;
  border-width: 2px;
  border-color: #efb509;
  cursor: pointer;
  width: 140px;
  height: 60px;
  background-color: #16253d;
}

.menu-button > a {
  color: #efb509;
  font-size: 30px;
  text-decoration: none;
}

section {
  width: 100%;
}

#intro {
  padding-top: 120px;
  height: 600px;
  background-color: #002c54;
}

.heading {
  font-size: 50px;
  color: white;
}

.first {
  text-align: left;
  margin-left: 20%;
}

.last {
  text-align: right;
  margin-right: 20%;
}

.heading > span {
  color:  #efb509;
}


/* About Me Section */

#about-me {
  height: 600px;
  background-color: #cd7213;
  text-align: center;
}

#about-me > h1 {
  padding-top: 50px;
}

/* flex-container for languages */
.languages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 200px;
}

/* columns */
.language {
  position: relative;
  width: 15%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid;
  margin: 50px;
  background-color: white;
  font-size: 30px;
}

.icon-html5 {
  background-image:url(https://img.icons8.com/color/144/000000/html-5.png);
  width: 144px;
  height: 140px;
}

.icon-css {
  background-image: url(https://img.icons8.com/color/144/000000/css3.png);
  width: 144px;
  height: 140px;
}

.icon-js {
  background-image:         url(https://img.icons8.com/color/144/000000/javascript.png);
  width: 144px;
  height: 140px;
}

.icon-java {
  background-image: url(https://img.icons8.com/color/144/000000/java-coffee-cup-logo.png);
   width: 144px;
  height: 140px;
}


/* Contact Me Section */

#contact-me {
  height: 600px;
  background-color: #002c54;
}

/* Footer */

footer {
  width: 100%;
  height:90px;
  background-color:  #16253d;
  color: #efb509;
  padding-left: 1em;
}

footer > p {
  font-size: 20px;
}

footer > a {
  color: #efb509;
  text-decoration: none;
}

footer > a > span {
  text-decoration: underline;
}
