:root {
  /* Color Themes */
  --violet: rgb(150, 35, 149);
  --darkPurple: #7b1fa2;
  --lightPurple: #8e24aa;
  --lavenderblush: 	#FFF0F5;
  --grey: #424242;
  --lightlilac: rgb(222, 203, 245);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/* Global styling */
body {
  background-color: var(--lavenderblush);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

section {
  padding: 3em 1.5em;
}

.heading  {
  text-align: center;
  margin-bottom: 1em;
}

/* Navigation */
.nav--toggle {
  padding: 0.8em 1.5em;
  cursor: pointer;
  background-color: var(--lavenderblush);
  border: none;
  font-size: 1.5em;
  position: fixed;
  z-index: 1;
}

.nav--toggle:hover,
.nav--toggle:focus {
  background-color: var(--darkPurple);
  outline: none;
}

.nav {
  background-color: var(--darkPurple);
  width: 200px;
  height: 100vh;
  position: fixed;
  opacity: .97;
  display: none;
  z-index: 1;
}

.nav__container {
  margin-top: 100px;
  border: 1px solid var(--lightPurple);
}

.nav__item {
  padding: 1em;
  background-color: var(--lightPurple);
}

.nav__link {
  text-decoration: none;
  color: var(--lavenderblush);
  text-transform: uppercase;
}

.nav__item:hover,
.nav__item:hover {
  background-color: var(--darkPurple);
}

/* Intro */
.intro__section {
  background-color: var(--lavenderblush);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.intro__heading {
  text-align: center;
  order: 1;
}

.picture {
  width: 200px;
  margin-bottom: 2em;
}

@media (min-width: 800px) {
  .intro__section {
    flex-direction: row;
  }

  .picture {
    margin-bottom: 0;
  }

  #zeilenumbruch {
    display: block;
    margin-left: 1.8em;
  }
}

@media (min-width: 900px) {
  #zeilenumbruch {
    margin-left: 4em;
  }
}

.about {
  text-align: justify;
  letter-spacing: 0.1em;
}

/* About */
.about p {
  font-size: 1em;
  margin: 1em 1.2em;
}

.about__heading:before {
  content: '';
  display: block;
  border-bottom:rgb(150, 35, 149) solid 0.5em;
  width: 50%;
  margin: 0 auto 1em auto;
}

.about__heading {
  text-align: center;
}

.box-style {
  background-color: rgb(222, 203, 245);
  text-align: center;
  padding: 1em 1.2em;
}

@media (min-width: 600px) {
  .about {
    margin: 0 2em;
  }
}

@media (min-width: 1000px) {
  .about {
    margin: 0 10em;
  }

  .about__heading {
    text-align: left;
    margin-left: 0.8em;
  }
}

/* Background */
.background__section {
  background-color: var(--violet);
  color: var(--lavenderblush);
}

.background__container {
  text-align: left;
  display: flex;
  flex-direction: column;
  line-height: 2em;
}

.background:first-child {
  padding-bottom: 2em;
}

.background-list {
  list-style-position: inside;
  font-weight: 800;
}

#yearspacing {
  letter-spacing: 0.1em;
}

.cert:hover,
.cert:focus {
  font-weight: 800;
}

.cert__description {
  margin: 0.5em 1em;
  color: var(--lightlilac);
  line-height: 1.2em;
}

@media (min-width: 800px) {
    .background__container {
      flex-direction: row;
      justify-content: space-around;
    }

    .background {
      width: 45%;
    }
}

@media (min-width: 1100px) {
  .background__container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Projects */
.projects__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  color: var(--lavenderblush);
}

.project {
  margin: 10px;
  max-width: 480px;
  padding: 1em;
  background-color: var(--violet);
  transition: box-shadow 0.3s;
  transition: transform 0.3s;
  cursor: pointer;
  position: relative;
}

.project:hover,
.project:focus {
  box-shadow: 0px 13px 14px 4px rgba(66,66,66,1);
  transform: scale(1.01);
}

.project__picture {
  width: 450px;
  display: block;
  margin-bottom: 2em;
}

.project__tools {
  font-weight: 600;
  letter-spacing: 2px;
}

.project__description {
  margin-top: 0.5em;
  color: var(--lightlilac);
  margin-bottom: 2em;
}

.github-source__button {
  padding: 0.5em 1em;
  background-color: var(--lavenderblush);
  border-color: var(--lavenderblush);
  border-radius: 10px;
  color: var(--grey);
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.github-source__button:hover,
.github-source__button:focus {
  cursor: pointer;
  background-color: var(--grey);
  color: var(--lavenderblush);
}

@media (min-width: 500px) {
  .projects__container {
      max-width: 1000px;
  }
}

/* Contact */
.contact__container {
  display: flex;
  justify-content: center;
}

.logo {
  padding-right: 2em;
  transition: transform 300ms;
}

.logo:hover,
.logo:focus {
  transform: scale(1.2);
}

/* footer */
.footer {
  padding: 1em;
  line-height: 1.8em;
  background-color: var(--darkPurple);
  color: var(--lavenderblush);
}



